<a href="https://colab.research.google.com/github/NhaBaodang/AI_24_2/blob/main/ai_w3_t2_07_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# create dataframe
dataframe = pd.DataFrame()
# add colums
dataframe["ten"]=['chanh','buoi','cam']
dataframe["price"]=[5,6,7]
dataframe["license"]=[True,False,True]
dataframe

     ten  price  license
0  chanh      5     True
1   buoi      6    False
2    cam      7     True

In [ ]:
dataframe.shape

(3, 3)

In [ ]:
df = dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ten      3 non-null      object
 1   price    3 non-null      int64
 2   license  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
list(df.columns)

['ten', 'price', 'license']

In [ ]:
df.describe()

       price
count    3.0
mean     6.0
std      1.0
min      5.0
25%      5.5
50%      6.0
75%      6.5
max      7.0

In [ ]:
df.loc[(df.price == 5)]

     ten  price  license
0  chanh      5     True

In [ ]:
df.loc[(df.price == 5)| (df.ten == 'cam')]
# truy cap vao cac bien

     ten  price  license
0  chanh      5     True
2    cam      7     True

In [ ]:
df.loc[(df.price == 5)| (df.ten == 'cam'),['ten','price']]
# chi truy cap vao ten va price

     ten  price
0  chanh      5
2    cam      7

In [ ]:
df.iloc[2]
type(df.iloc[2])

pandas.core.series.Series

In [ ]:
df.iloc[[2]]

   ten  price  license
2  cam      7     True

In [ ]:
df.iloc[0:2,0:1]

     ten
0  chanh
1   buoi

In [ ]:
df.iloc[0:2,-1]
# append a colunm in pandas

0     True
1    False
Name: license, dtype: bool

In [ ]:
sum=df.price.sum()
print(sum)

18

In [ ]:
count = df['price'].count()
print(count)

3

In [ ]:
new = pd.Series(['xoai',10,True], index=['ten','price','license'])

dataframe.append(new,ignore_index=True)

     ten  price  license
0  chanh      5     True
1   buoi      6    False
2    cam      7     True
3   xoai     10     True

In [ ]:
dataframe['vitri'] = ['my','anh','vietnam']
dataframe

     ten  price  license    vitri
0  chanh      5     True       my
1   buoi      6    False      anh
2    cam      7     True  vietnam

In [ ]:
# xoa 1 hang
dataframe.drop(2,axis=0).head(10)
# xoa vij tris thu nhat

     ten  price  license vitri
0  chanh      5     True    my
1   buoi      6    False   anh

In [ ]:
# xoa 1 cot
dataframe.drop('vitri',axis=1).head()

     ten  price  license
0  chanh      5     True
1   buoi      6    False
2    cam      7     True

In [ ]:
# thay the gia tri
dataframe['price'].replace(5,7).head(5)

0    7
1    6
2    7
Name: price, dtype: int64

In [ ]:
# doi ten 
dataframe.rename(columns={'price':'cost'}).head()

     ten  cost  license    vitri
0  chanh     5     True       my
1   buoi     6    False      anh
2    cam     7     True  vietnam

In [ ]:
#2. knowing data

In [ ]:
# load library
import pandas as pd
# create url
url = 'medals.csv'
# load data
dataframe = pd.read_csv(url)
# show data
dataframe.head(20)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver

In [ ]:
df=dataframe
count= df['Event gender'].count()
print(count)

2311

In [ ]:
df.loc[(df.Sport == 'Skating') & (df.Medal == 'Gold'),['Sport','Medal']]

        Sport Medal
1     Skating  Gold
2     Skating  Gold
7     Skating  Gold
9     Skating  Gold
10    Skating  Gold
...       ...   ...
2245  Skating  Gold
2293  Skating  Gold
2295  Skating  Gold
2299  Skating  Gold
2300  Skating  Gold

[254 rows x 2 columns]

In [ ]:
df.describe()

              Year
count  2311.000000
mean   1980.361748
std      22.089091
min    1924.000000
25%    1968.000000
50%    1988.000000
75%    1998.000000
max    2006.000000

In [ ]:
a=len(df)
print(a)

2311

In [ ]:
c = len(df.loc[(df.NOC == 'AUT') & (df.Medal == 'Gold')])
print(c)

51

In [ ]:

df['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [ ]:
df['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
df = pd.read_csv(url)
df.groupby('NOC').head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2129,2006,Turin,Skiing,Cross Country S,EST,15km,M,Gold
2202,2006,Turin,Luge,Luge,LAT,singles,M,Bronze
2269,2006,Turin,Skiing,Snowboard,SVK,Snowboard Cross,M,Silver
2284,2006,Turin,Biathlon,Biathlon,UKR,7.5km,W,Bronze
2285,2006,Turin,Skating,Figure skating,UKR,ice dancing,X,Bronze

In [ ]:
df.groupby('NOC').count()

     Year  City  Sport  Discipline  Event  Event gender  Medal
NOC
AUS     6     6      6           6      6             6      6
AUT   185   185    185         185    185           185    185
BEL     5     5      5           5      5             5      5
BLR     6     6      6           6      6             6      6
BUL     6     6      6           6      6             6      6
CAN   119   119    119         119    119           119    119
CHN    33    33     33          33     33            33     33
CRO     7     7      7           7      7             7      7
CZE    10    10     10          10     10            10     10
DEN     1     1      1           1      1             1      1
ESP     2     2      2           2      2             2      2
EST     6     6      6           6      6             6      6
EUA    19    19     19          19     19            19     19
EUN    23    23     23          23     23            23     23
FIN   151   151    151         151    151           151    151
FRA    83    83     83          83     83            83     83
FRG    41    41     41          41     41            41     41
GBR    21    21     21          21     21            21     21
GDR   110   110    110         110    110           110    110
GER   158   158    158         158    158           158    158
HUN     6     6      6           6      6             6      6
ITA   101   101    101         101    101           101    101
JPN    32    32     32          32     32            32     32
KAZ     5     5      5           5      5             5      5
KOR    31    31     31          31     31            31     31
LAT     1     1      1           1      1             1      1
LIE     9     9      9           9      9             9      9
LUX     2     2      2           2      2             2      2
NED    78    78     78          78     78            78     78
NOR   280   280    280         280    280           280    280
NZL     1     1      1           1      1             1      1
POL     8     8      8           8      8             8      8
PRK     2     2      2           2      2             2      2
ROU     1     1      1           1      1             1      1
RUS    76    76     76          76     76            76     76
SLO     4     4      4           4      4             4      4
SUI   118   118    118         118    118           118    118
SVK     1     1      1           1      1             1      1
SWE   118   118    118         118    118           118    118
TCH    25    25     25          25     25            25     25
UKR     5     5      5           5      5             5      5
URS   194   194    194         194    194           194    194
USA   216   216    216         216    216           216    216
UZB     1     1      1           1      1             1      1
YUG     4     4      4           4      4             4      4

In [ ]:
def uppercase(x):
  return x.upper()
df['Event'].apply(uppercase)[0:2011]

0            INDIVIDUAL
1            INDIVIDUAL
2                 PAIRS
3              FOUR-MAN
4            ICE HOCKEY
             ...
2006    K120 TEAM (90M)
2007            TWO-MAN
2008            TWO-MAN
2009         INDIVIDUAL
2010            CURLING
Name: Event, Length: 2011, dtype: object

In [ ]:
df.groupby(['Year','NOC']).count()

          City  Sport  Discipline  Event  Event gender  Medal
Year NOC
1924 AUT     3      3           3      3             3      3
     BEL     1      1           1      1             1      1
     CAN     1      1           1      1             1      1
     FIN    11     11          11     11            11     11
     FRA     3      3           3      3             3      3
...        ...    ...         ...    ...           ...    ...
2006 SUI    14     14          14     14            14     14
     SVK     1      1           1      1             1      1
     SWE    14     14          14     14            14     14
     UKR     2      2           2      2             2      2
     USA    25     25          25     25            25     25

[328 rows x 6 columns]

In [ ]:
df[df['NOC']!='CAN'].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold

In [ ]:
df[(df['Year']>=1990)&(df['Year']<=2006) & (df['NOC']=='USA')&(df['Event gender']=='W')&(df['Medal']=='Gold')].head(10)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
1428,1992,Albertville,Skating,Figure skating,USA,individual,W,Gold
1430,1992,Albertville,Skating,Short Track S.,USA,500m,W,Gold
1431,1992,Albertville,Skating,Speed skating,USA,1000m,W,Gold
1432,1992,Albertville,Skating,Speed skating,USA,500m,W,Gold
1436,1992,Albertville,Skiing,Freestyle Ski.,USA,moguls,W,Gold
1610,1994,Lillehammer,Skating,Short Track S.,USA,500m,W,Gold
1612,1994,Lillehammer,Skating,Speed skating,USA,1000m,W,Gold
1613,1994,Lillehammer,Skating,Speed skating,USA,500m,W,Gold
1617,1994,Lillehammer,Skiing,Alpine Skiing,USA,super-G,W,Gold
1812,1998,Nagano,Ice Hockey,Ice Hockey,USA,ice hockey,W,Gold

In [ ]:
df.drop('NOC', axis=1).head(10)

,Year,City,Sport,Discipline,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,1500m,M,Gold

In [ ]:
df

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver